name: DQt tests

on:
  push:
    branches:
      - master
      - test
  pull_request:
    branches:
      - master
      - test

jobs:
  main:
    strategy:
      fail-fast: false

      matrix:
        platform: [ linux64, win64, win32, osx64 ]
        dc: [ dmd-latest, dmd-2.099.0, ldc-latest, dmd-master ]

        exclude:
          - { platform: win32, dc: ldc-latest }
          - { platform: win64, dc: ldc-latest }
          - { platform: osx64, dc: ldc-latest }

        include:
          - platform: linux64
            os: ubuntu-22.04
            model: 64
            qt_arch: gcc_64
            qtbase_url: 'https://download.qt.io/online/qtsdkrepository/linux_x64/desktop/qt5_5152/qt.qt5.5152.gcc_64/'
            qtbase_file: '5.15.2-0-202011130601qtbase-Linux-RHEL_7_6-GCC-Linux-RHEL_7_6-X86_64.7z'
            qticu_file: '5.15.2-0-202011130601icu-linux-Rhel7.2-x64.7z'

          - platform: win64
            os: windows-2022
            model: 64
            qt_arch: msvc2019_64
            qtbase_url: 'https://download.qt.io/online/qtsdkrepository/windows_x86/desktop/qt5_5152/qt.qt5.5152.win64_msvc2019_64/'
            qtbase_file: '5.15.2-0-202011130602qtbase-Windows-Windows_10-MSVC2019-Windows-Windows_10-X86_64.7z'

          - platform: win32
            os: windows-2022
            model: 32mscoff
            qt_arch: msvc2019
            qtbase_url: 'https://download.qt.io/online/qtsdkrepository/windows_x86/desktop/qt5_5152/qt.qt5.5152.win32_msvc2019/'
            qtbase_file: '5.15.2-0-202011130602qtbase-Windows-Windows_10-MSVC2019-Windows-Windows_10-X86.7z'

          - platform: osx64
            os: macos-12
            model: 64
            qt_arch: clang_64
            qtbase_url: 'https://download.qt.io/online/qtsdkrepository/mac_x64/desktop/qt5_5152/qt.qt5.5152.clang_64/'
            qtbase_file: '5.15.2-0-202011130601qtbase-MacOS-MacOS_10_13-Clang-MacOS-MacOS_10_13-X86_64.7z'

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Install D compiler
        uses: dlang-community/setup-dlang@v1
        with:
          compiler: ${{ matrix.dc }}

      - name: Update PATH
        if: ${{ matrix.os == 'windows-2019' }}
        run: |
          echo "C:\msys64\usr\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Install Qt
        run: |
          wget --no-verbose "${{ matrix.qtbase_url }}${{ matrix.qtbase_file }}"
          7z x "${{ matrix.qtbase_file }}" 5.15.2/${{ matrix.qt_arch }}/lib/ 5.15.2/${{ matrix.qt_arch }}/bin/ 5.15.2/${{ matrix.qt_arch }}/plugins/platforms

      - name: Install ICU for Qt
        if: ${{ matrix.qticu_file != '' }}
        run: |
          wget --no-verbose "${{ matrix.qtbase_url }}${{ matrix.qticu_file }}"
          7z x "${{ matrix.qticu_file }}"

      - name: 'Build & Test'
        run: |
          ${{ env.DC }} -run runtests.d --compiler=${{ env.DC }} -m${{ matrix.model }} --qt-path=5.15.2/${{ matrix.qt_arch }}
